$breakpoints: (
  tablet: 640px,
  laptop: 1024px,
  desktop: 1040px
);

@mixin responsive($key) {
  @if map-has-key($breakpoints, $key) {
    @media screen and (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $key) {
      @content;
    }
  }
}
